<div class="row">
    <form [formGroup]="emailForm" (ngSubmit)="sendMailWithConfirmation()">
        <div class="col-md-12">
            <mat-card>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="standard">
                            <mat-label>Email Subject</mat-label>
                            <input matInput placeholder="Enter subject here..." formControlName="subject">
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-12">
            <mat-card>
                <div class="row">
                    <div class="col-md-12">
                        <angular-editor formControlName="body" [config]="config"></angular-editor>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-12">
            <mat-card>
                <div class="row">
                    <div class="col-md-12">
                        <label>*@Name replaces the patient name dynamically. Do not remove @Name from the text editor.</label>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-12">
            <mat-card>
                <div class="row">
                    <div class="col-md-12">
                        <button class="mat-focus-indicator mat-raised-button mat-button-base mat-primary">Send Mail to All Patient</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </form>

    
</div>