<div class="row">
    <div class="col-sm-12">
        <mat-progress-bar mode="indeterminate" *ngIf="disabledButton"></mat-progress-bar>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <mat-card>
            <div class="row">
                <div class="col-md-2" style="margin-top: 25px; padding-left: 25px;">
                    <mat-form-field>
                        <mat-label>Choose start date</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="startDate" [max]="maxDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-2" style="margin-top: 25px; ">
                    <mat-form-field>
                        <mat-label>Choose end date</mat-label>
                        <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate" [max]="maxDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-2" style="margin-top: 40px; padding-left: 25px; text-align: left;">
                    <button mat-raised-button color="default" (click)="viewPromodetailsByDateRange()">View</button> 
                </div>
                <div class="col-md-2" style="margin-top: 40px; padding-left: 25px;  text-align: right;">
                    <button mat-raised-button color="primary" (click)="openEditForm(null)">New Promocode</button> 
                </div>
                <div class="col-md-4" style="text-align: right; margin-top: 40px;">
                    <mat-form-field class="col-md-12">
                        <mat-label>Filter</mat-label>
                        <input matInput type="text" matInput (keyup)="applyFilter($event)">
                      </mat-form-field>
                </div>
            </div>
        </mat-card>
    </div>
</div>




<div class="row">
    <div class="col-md-12">
        <mat-card>
            <div class="row">
                <div class="col-md-12">
                    <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" style="width:100%" matSort>
                        <ng-container matColumnDef="promocodeId">
                            <th mat-header-cell *matHeaderCellDef>Promocode Id</th>
                            <td mat-cell *matCellDef="let element"> {{element.promocodeId}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="promocodeName">
                            <th mat-header-cell *matHeaderCellDef>Promocode Name</th>
                            <td mat-cell *matCellDef="let element"> {{element.promocodeName}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="promocodePercent">
                            <th mat-header-cell *matHeaderCellDef>Promocode Percent</th>
                            <td mat-cell *matCellDef="let element"> {{element.promocodePercent}} %</td>
                            <td mat-footer-cell *matFooterCellDef>Total Promo Amount</td>
                        </ng-container>
                        <ng-container matColumnDef="totalPromoAmount">
                            <th mat-header-cell *matHeaderCellDef>Promo Amount</th>
                            <td mat-cell *matCellDef="let element"> ${{element.totalPromoAmount}}</td>
                            <td mat-footer-cell *matFooterCellDef>
                                <strong>{{sumOfPromoAmount | currency}}</strong>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="promocodeStartDate">
                            <th mat-header-cell *matHeaderCellDef>Start Date</th>
                            <td mat-cell *matCellDef="let element"> {{element.promocodeStartDate}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="promocodeEndDate">
                            <th mat-header-cell *matHeaderCellDef>End Date</th>
                            <td mat-cell *matCellDef="let element"> {{element.promocodeEndDate}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="promocodeIsActive">
                            <th mat-header-cell *matHeaderCellDef>Active Status</th>
                            <td mat-cell *matCellDef="let element"> {{element.promocodeIsActive?"Active":"Not-Active"}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>


                        <!-- <ng-container matColumnDef="loginUserName">
                            <th mat-header-cell *matHeaderCellDef>Login User Name</th>
                            <td mat-cell *matCellDef="let element"> {{element.loginUserName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pharmacyContactNum">
                            <th mat-header-cell *matHeaderCellDef>Contact No</th>
                            <td mat-cell *matCellDef="let element"> {{element.pharmacyContactNum}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pharmacyEmailAddress">
                            <th mat-header-cell *matHeaderCellDef>Email</th>
                            <td mat-cell *matCellDef="let element"> {{element.pharmacyEmailAddress}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="pharmacyAddress">
                            <th mat-header-cell *matHeaderCellDef>Address</th>
                            <td mat-cell *matCellDef="let element"> {{element.pharmacyAddress}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pharmacyCity">
                            <th mat-header-cell *matHeaderCellDef>City</th>
                            <td mat-cell *matCellDef="let element"> {{element.pharmacyCity}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pharmacyState">
                            <th mat-header-cell *matHeaderCellDef>State</th>
                            <td mat-cell *matCellDef="let element"> {{element.pharmacyState}} </td>
                        </ng-container> -->


                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;">Action</th>   
                            <td mat-cell *matCellDef="let element" style="text-align: center;"> 
                              <button mat-raised-button (click)="openEditForm(element)" style="margin-top: 0; margin: 5px;">Edit</button> 
                              <button mat-raised-button (click)="deletePromo(element)" style="margin-top: 0; margin-left: 10px;margin: 5px;">Delete</button> 
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                          </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" 
                        class="example-first-footer-row" style="background-color: lightgray;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[100, 200, 300]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </mat-card>
    </div>
</div>
