.mat-form-field-label {
    display: block;
    font-size: 16px;
    color: #666;
}
  .example-full-width {
    width: 100%;
  }

.wordbreak{
  white-space: normal !important;
}
.mat-checkbox-layout{
    display: list-item;
}
.mat-checkbox-inner-container {
  margin-top: 5px !important;
  vertical-align: top !important;
}