<div class="row">
    <div class="col-md-12">
        <mat-card>
            <form [formGroup]="editUserAccessForm" (ngSubmit)="submitUserAccessForm()">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="standard">
                            <mat-label>User Type<span style="color: red;">*</span></mat-label>
                            <mat-select formControlName="userType" (selectionChange)="userTypeChange($event)">
                                <mat-option *ngFor="let type of userTypes" [value]="type.code">{{type.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="checkError('userType', 'required')">Password is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <!-- <div class="col-md-12"> -->
                    <div class="col-md-2" *ngFor="let menu of menues; let i = index">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" [checked]="menu.checked" name="{{menu.code}}"
                            [value]="menu.code" class="custom-control-input" id="{{menu.code}}"
                            (change)="menuchange($event)">
                            <label class="custom-control-label" for="{{menu.code}}">{{menu.name}}</label>
                          </div>

                        <!-- <mat-checkbox formControlName="menuControl" [(ngModel)]="menu.checked" [checked]="true" [value]="menu.code">
                            {{menu.name}}
                        </mat-checkbox> -->

                        <!-- <mat-checkbox id="nemu.code">{{nemu.name}}</mat-checkbox> -->
                    </div>
                    <!-- </div> -->
                </div>

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4" style="text-align: center;" >
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]="!editUserAccessForm.valid">Map</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </form>

            
        </mat-card>
    </div>

</div>