.main-content{
    color: black;
    background-color: floralwhite;
}

// .mat-column-transactionDescription {
//     word-wrap: break-word !important;
//     white-space: unset !important;
//     flex: 0 0 16% !important;
//     width: 16% !important;
//     overflow-wrap: break-word;
//     word-wrap: break-word;
  
//     word-break: break-word;
  
//     -ms-hyphens: auto;
//     -moz-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//   }
  
td.mat-cell {
    padding: 10px;
}

th.mat-header-cell {
    text-align: center;
    font-weight: bold;
}