<div class="row">
<div class="col-sm-12">
  <mat-progress-bar mode="indeterminate" *ngIf="disabledButton"></mat-progress-bar>
</div>
</div>

<div class="row">
    <div class="col-md-12">
        <mat-card>
          <div class="row">
          <mat-form-field  class="col-md-2">
            <mat-label>Choose start date</mat-label> 
            <input matInput [matDatepicker]="picker" [(ngModel)]="startDate"  
            [max]="endDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> 

          <!-- <div class="col-md-2">
            <button mat-raised-button  (click)="getXMLFile()" id="download_link">View XML</button> 
            <a id="download_link" (click)="getXMLFile()" download="my_exported_file.txt" href='' >Download as Text File</a>
          </div>  -->

          <mat-form-field class="col-md-2">
            <mat-label>Choose end date</mat-label>
            <input matInput [matDatepicker]="picker2"
            [(ngModel)]="endDate" [min]="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker2">
            </mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>      

          <div class="col-md-6 align-bottom"> 
            <div class="row">
              <div class="col-md-1" style="padding-top: 8px;"> 
                <button mat-raised-button (click)="getPatientsList(false)" [disabled]="disabledButton">View</button> 
              </div>
              <div class="col-md-2" style="padding-top: 8px;padding-right: -3px;padding-left: 36px;">
                <button mat-raised-button (click)="getPatientsList(true)" [disabled]="disabledButton">Today</button> 
              </div>
              <div class="col-md-4">  
              <mat-form-field appearance="fill">
                <mat-label>by symptoms</mat-label>
                <mat-select [(ngModel)]="symptomsFilter" (selectionChange)="updateFilter($event, 'symptomsFilter')">
                  <mat-option value="All">All </mat-option>
                  <mat-option value="Covid">Covid </mat-option>
                  <mat-option value="NonCovid">Non Covid </mat-option>
                </mat-select>
              </mat-form-field> 
              </div>
              <div class="col-md-3">  
                <mat-form-field appearance="fill">
                  <mat-label>by status</mat-label>
                  <mat-select [(ngModel)]="statusFilter" (selectionChange)="updateFilter($event, 'statusFilter')">
                    <mat-option value="-1"> --Select status-- </mat-option>
                    <mat-option *ngFor="let status of adminService.patientStatuses" [value]="status.value">
                      {{status.name}}</mat-option> 
                  </mat-select>
                </mat-form-field> 
              </div>
            </div> 
          </div> 
          <mat-form-field class="col-md-2">
            <mat-label>Filter</mat-label>
            <input matInput type="text" matInput (keyup)="applyFilter($event)">
          </mat-form-field>
        </div>
        </mat-card>
    </div>
</div> 

<div class="row">
    <div class="col-sm-12" *ngIf="rowsAdded">
        <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" style="width:100%" matSort>
              <ng-container matColumnDef="submissionId" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
                <td mat-cell *matCellDef="let element;" > {{element.submissionId}} </td>
                <!-- <td mat-cell *matCellDef="let element; let j=index;"> {{j + 1}} </td> -->
              </ng-container>
              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
              </ng-container>
              <ng-container matColumnDef="lastName" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
              </ng-container>
              <ng-container matColumnDef="DOB" >
                <th mat-header-cell *matHeaderCellDef> DOB</th>
                <td mat-cell *matCellDef="let element" > 
                  <div *ngIf="element.submissionId > 95; else shoewDob"> 
                    {{(JSON.parse(element.profileDetails)[1].Answer).replaceAll('\\','')}} 
                  </div>
                  <ng-template #shoewDob>
                    {{JSON.parse(element.profileDetails)[1].Answer | date:"MM/dd/yyyy"}} 
                  </ng-template> 
                </td>
              </ng-container> 

              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone</th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
              </ng-container>
              <ng-container matColumnDef="isCovid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Covid</th>
                <td mat-cell *matCellDef="let element"> <ng-container *ngIf="element.isCovid">Yes</ng-container> <ng-container *ngIf="!element.isCovid">No</ng-container> </td>
              </ng-container>
             
              <ng-container matColumnDef="submissionTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Submission Time</th>
                <td mat-cell *matCellDef="let element"> {{element.submissionTime | date:"MM/dd/yyyy HH:mm" }} </td>
              </ng-container>

              <ng-container matColumnDef="state" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> State</th>
                <td mat-cell *matCellDef="let element"> {{JSON.parse(element.profileDetails)[0].Answer}} </td>
              </ng-container> 
              
              <ng-container matColumnDef="doctorName" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Assigned To</th>
                <td mat-cell *matCellDef="let element"> {{element.doctorName}} </td>
              </ng-container> 

              <ng-container matColumnDef="returningPatient" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> New Patient</th>
                <td mat-cell *matCellDef="let element"> {{element.isReturningPatient ? "No" : "Yes"}} </td>
              </ng-container> 

            
              <ng-container matColumnDef="status" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
                <td mat-cell *matCellDef="let element"> {{getStatusDetails(element.status)[0].name}} </td>
              </ng-container>   
              <ng-container matColumnDef="transactionDescription" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Package </th>
                <td mat-cell *matCellDef="let element"> {{element.transactionDescription}} </td>
              </ng-container> 

              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action</th>
                <td mat-cell *matCellDef="let element; let j = index;">                  
                   <button mat-button (click)="getEscribeDetails(element.submissionId)">e-Pres</button> 
                   <button mat-button (click)="downloadInvoicePDF(element)">Invoice</button>
                   <button mat-button (click)="downloadPDF(element)">PDF</button>
                   <button style="margin-left: 18px;" mat-raised-button (click)="viewSubscription(element)">View details</button>
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table> 
        <mat-paginator [pageSizeOptions]="[100, 200, 300]" showFirstLastButtons></mat-paginator> 
    </div> 
</div>  
<mat-card style="text-align: center;margin-top: 2px;" 
  *ngIf="dataSource.filteredData.length === 0 && showNoRecordsDiv">
  Records not found
</mat-card>   