.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  .example-full-width {
    width: 100%;
  }
  .mat-expansion-panel {
    margin: 12px 0 !important;
}
button {
    margin: 2px 4px !important;
}
ul {
  list-style-type: none;
  margin-top: 4px;
}
.mat-expansion-panel-header-title {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: rgb(103 58 183) !important;
}
.mat-form-field-label {
  display: block;
  font-size: 16px;
  color: #666;
}
.label{
  font-size: 16px !important;
  }
   